@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none !important;
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-color);
    font-size: 16px;
    line-height: 1.5;
    word-spacing: 1px;
    overflow-x: hidden;
}

/* Chrome, Safari, Edge (WebKit) */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* FONT SIZES
    12px
    14px
    16px
    32px 
*/

:root {
    --bg-color: #ffffff;
    --bg-alt-color: #f2f2f2;
    --main-color: #8D0B41;
    --text-color: #42505A;
    --text-alt-color: #647887;
    --shadow-color: rgba(0, 0, 0, 0.25);
}

:root[data-theme="dark"] {
    --bg-color: #121212;
    --bg-alt-color: #1e1e1e;
    --main-color: #C2185B;
    --text-color: #E4E6EB;
    --text-alt-color: #A0A4A8;
    --shadow-color: rgba(255, 255, 255, 0.25);
}

/* box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.75); */
h1 {
    font-weight: 900;
    font-size: 32px;
    line-height: 1.2;
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: 900;
}

p {
    font-weight: 600;
    color: var(--text-alt-color);
}

a {
    color: var(--text-color);
}


section {
    padding: 120px 0px 0px 0px;
    margin: 2px;
}

/* CUSTOM BUTTON */
.main-button {
    width: 150px;
    height: 45px;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}

.main-button:hover {
    transform: scale(1.10);
    transition: all .5s;
}

.small-button {
    width: 75px;
    height: 25px;
    font-size: 16px;
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 10px;
    cursor: pointer;
}

.small-button:hover {
    transform: scale(1.10);
    transition: all .5s;
}

/* HEADER */
header {
    position: fixed;
    width: 95%;
    top: 2%;
    left: 3%;
    background-color: var(--bg-color);
    box-shadow: 2px 2px 10px var(--shadow-color);
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 80px;
}


.logo {
    color: var(--main-color);
    font-weight: 900;
    font-style: oblique;
    font-size: 24px;
}

.logo img {
    width: 60px;
    margin-top: 5px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.nav-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-color);
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
}

.nav-icons {
    background-color: var(--bg-alt-color);
    padding: 12px 20px;
    border-radius: 50px;
}

.nav-icons i {
    font-size: 16px;
    color: var(--main-color);
}

.nav-icons a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 600;
}

#navmenu {
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

.nav-links a:hover {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 20px;
}

.nav-links .active {
    background-color: var(--main-color);
    color: var(--bg-color);
    border-radius: 20px;
}

/* DROPDOWN FOR ACCOUNT */
.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    background-color: var(--main-color);
    min-width: 160px;
    margin-top: 5px;
    padding: 20px;
    box-shadow: 2px 2px 10px var(--shadow-color);
    border-radius: 20px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    text-decoration: none;
    color: var(--bg-color);
}

.dropdown-content a:hover {
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


/* HOME PAGE */
.home h1 {
    font-size: 4vw !important;
}

/* HOME PAGE TEMPORARY RESPONSIVENESS */
@media (max-width: 1060px) {
    .home {
        margin-top: 10px;
        padding: 20px;
    }
}

.home h1 {
    font-size: 2.1rem;
    margin-bottom: 20px;
}

/* MORE INFO */

.info-icons i {
    background-color: var(--bg-alt-color);
    color: var(--main-color);
    font-size: 32px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* INDEX LISTING */

.cards {
    background-color: var(--bg-color);
    border: 2px solid var(--main-color);
    /* max-width: 410px; */
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 2px 2px 10px var(--shadow-color);
    transition: all .5s;
}

.cards img.property-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.labels {
    position: absolute;
    margin-top: -170px;
    padding: 0 15px;
    display: flex;
    gap: 8px;
}

.label {
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 14px;
}

.price-tag {
    position: absolute;
    margin-top: -40px;
    margin-left: 15px;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}

.house-name {
    font-size: 16px;
    font-weight: 900;
}

.cards-content {
    padding: 20px;
}

.features {
    display: flex;
    font-size: 12px;
    color: var(--text-color);
    margin-bottom: 12px;
}

.features i {
    margin-right: 4px;
}

.location {
    font-size: 12px;
}

.divider {
    height: 2px;
    background-color: var(--text-color);
}

.landlord-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landlord-left {
    display: flex;
    align-items: center;
}

.landlord-left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid var(--text-color);
    margin-right: 10px;
}

.landlord-name {
    font-size: 14px;
    font-weight: 600;
}

.landlord-role {
    font-size: 12px;
    color: var(--text-color);
}

.landlord-actions {
    display: flex;
    gap: 10px;
}

.landlord-actions .btn {
    color: var(--main-color);
    padding: 8px;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}

/* TESTIMONIALS SECTION */
.review {
    border: 4px solid var(--main-color);
    border-radius: 10px;
    height: 500px;
}

.fa-message {
    font-size: 32px;
    color: var(--main-color);
}

.stars {
    color: var(--main-color);
}

.person img {
    clip-path: circle();
}

/* FOOTER */
footer {
    margin-top: 40px;
    padding-top: 40px;
    background-color: var(--bg-alt-color);
    font-size: 14px;
}

.footer-box {
    font-size: 12px;
    border: 2px solid var(--main-color);
    padding: 3px;
    border-radius: 5px;
}

.compony-line {
    border-bottom: 2px solid var(--text-color);
}

.footer-bottom {
    border-top: 2px solid var(--text-color);
}


/* CAROUSEL SA PROPERTY DESCRIPTION CSS */
/* CAROUSEL CONTROL */
.carousel-control-prev,
.carousel-control-next {
    background-color: var(--main-color);
    width: 50px;
    height: 70px;
    margin: auto;
}

#carouselExample .carousel-inner {
    height: 500px;
}

#carouselExample .carousel-item img {
    height: 100%;
    object-fit: cover;
}


/* AVARTAR FOR CARDS */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--main-color);
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

/* REPONSIVENESS */
@media (max-width: 480px) {
    /* small phones */
}

@media (max-width: 767px) {
    /* all phones */
}

@media (max-width: 991px) {
    /* tablets */
}

@media (max-width: 1199px) {
    /* small laptops */
}

@media (min-width: 1200px) {
    /* desktops */
}


/* small laptops */
@media (max-width: 1199px) {
    #navmenu {
        display: initial;
    }

    header {
        padding: 20px 10px;
    }

    .nav-links {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 40%;
        top: 100%;
        right: -100%;
        border-radius: 20px;
        margin: 2rem;
        padding: 20px;
        background-color: var(--main-color);
        transition: all .5s;
    }

    .nav-links a {
        display: block;
        color: var(--bg-color);
    }

    .nav-links a:hover {
        background-color: var(--bg-color);
        color: var(--main-color);
        border-radius: 20px;
    }

    .nav-links.open {
        right: 0%;
    }
}