#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 20px;
  margin-left: 250px;   
  transition: margin-left 0.3s ease, max-width 0.3s ease;
  max-width: calc(100% - 250px);
}

.sidebar.collapsed ~ #container {
  margin-left: 80px;   
  max-width: calc(100% - 80px);
}

.column {
  background: white;
  border-radius: 12px;
  padding: 20px;
}

.column h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}


.card-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #58929c; 
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}


.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  background: #ccc; 
}


.actions {
  display: flex;
  gap: 8px;
}

.btn {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.btn.green {
  background: #4CAF50; 
}

.btn.blue {
  background: #3b6ef7;
}