

/* FONT */
@font-face {
    font-family: "Inknut Antiqua";
    src: url("/fonts/InknutAntiqua-Regular.ttf") format("truetype");
    font-weight: 400;
}

* {
    font-family: "Inknut Antiqua", serif;
    margin: 0 !important;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    /* --primary-color: #f3d2c1;
    --secondary-color: #d4cda5; */
    --bg-color: #ffffff;
    --bg-alt-color: #ffffff;
    --text-color: #383838;
    --text-alt-color: #383838;
    --border-color: #efe5dc;
    --border-alt-color: #ebdc88;
    --button-color: #d0b8ac;
    --button-alt-color: #e9d0c3;
    --hover-color: #fbfefb;
}

/* NAVBAR and HEADER  */
header {
    position: fixed;
    width: 94%;
    top: 3%;
    left: 3%;
    background-color: var(--border-color);
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.logo {
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--text-color);
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links {
    display: flex;
}

.nav-links a {
    padding: 20px;
    font-size: 16px;
    color: var(--text-color);
}

.nav-links a:hover,
.nav-links .active {
    background-color: var(--hover-color);
    border-radius: 20px;
}

.nav-icons {
    background-color: var(--bg-color);
    padding: 12px 20px;
    border-radius: 50px;
}

.dropdown {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--border-color);
    min-width: 160px;
    margin-top: 10px !important;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
    color: var(--text-color);
}

.dropdown-content a:hover {
    background-color: var(--hover-color);
    border-radius: 20px;
}

/* HOME PAGE*/
.tenant-page {
    margin: 140px 0px 80px 0px !important;
}

.tenant-page h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--text-color);
}

.cards {
    background-color: var(--bg-color);
    border: 2px solid var(--border-alt-color);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: all .3s ease;
}

.cards:hover {
    transform: translateY(-5px);
}

.cards img.property-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.labels {
    position: absolute;
    margin-top: -170px !important;
    padding: 0 15px;
    display: flex;
    gap: 8px;
}

.label {
    background: var(--border-alt-color);
    font-size: 12px;
    padding: 4px 10px;
    border-radius: 14px;
}

.heart-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    background: var(--border-color);
    border-radius: 50px;
    padding: 6px;
}

.price-tag {
    position: absolute;
    margin-top: -40px !important;
    margin-left: 15px !important;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: bold;
}



/* PROFILE PAGE */
body {
    background-color: #ffffff;
    font-family: "Inknut Antiqua", serif;
    margin: 0;
    padding: 0;
}

.main-header {
    position: fixed;
    width: 94%;
    top: 3%;
    left: 3%;
    background-color: #efe5dc;
    border-radius: 20px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.main-header .logo {
    font-weight: 600;
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #000;
    text-decoration: none;
}

.nav-links a.active {
    font-weight: bold;
}

.nav-icons {
    font-size: 1rem;
}

/* TENANT-PROFILE PAGE */
.tenant-profile {
    padding-top: 200px;
    max-width: 900px;
    margin: 0 auto;
    position: fixed;
    bottom: 25%;
    left: 25%;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-top: 55%;
}

.profile-img-wrapper {
    position: relative;
    right: 7cap;
    bottom: 4cap;
}

.profile-img {
    width: 275px;
    height: 275px;
    border-radius: 50%;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}


.profile-info {
    border: 1px solid #000;
    padding: 2rem 2.5rem;
    max-width: 600px;
    width: 550px;
    height: 250px;
    position: relative;
    right: 3cap;
    bottom: 3cap;
}

.profile-info h2 {
    margin: 0 0 .7rem 0;
    font-weight: 600;
    font-size: 2rem;
}

.profile-info p {
    margin: 0 0 .3rem 0;
    font-size: 1.5rem;
}

.edit-btn {
    float: right;
    margin-top: .9rem;
    background: #999;
    border: none;
    padding: .6rem .2rem;
    color: #000;
    border-radius: 6px;
    font-size: 0.6rem;
    cursor: pointer;
    width: 100px;
    height: 43px;
    position: relative;
    right: 1cap;
    left: 2cap;
    bottom: 1.4cap;
}

.profile-info .edit-btn {
    font-size: 1.3rem;
}

.edit-btn:hover {
    background: #777;
}

/* upload section */
.upload-section {
    margin-top: 40px;

}

.upload-section label {
    font-size: 1.5rem;
    font-weight: 600;
    font-size: rem;
    position: relative;
    right: 1.4cap;
    bottom: 1cap;
    top: 1cap;
}

.upload-line {
    height: 2px;
    background: #000;
    width: 55%;
    margin: 6px 0 10px 0;
    position: fixed;
    top: 78%;
    left: 23%;
}

.upload-btn {
    position: relative;
    right: 1cap;
    left: 1cap;
    bottom: 1cap;
    top: 1.2cap;
    background: #999;
    color: #000;
    border: none;
    padding: .4rem 1.2rem;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
}

.upload-btn:hover {
    background: #7e7d7d;
}

/* Ads */
.ads {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #d9d9d9;
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Georgia', serif;
    z-index: 999;
}

/*  TENANT MESSAGES PAGE */
.tenant-messages {
    margin-top: 100px;
    /* space for navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}


.tenant-messages-container {
    display: flex;
    width: 90%;
    max-width: 1400px;
    height: 75vh;
    background-color: #f5f1ec;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.chats-sidebar {
    width: 30%;
    background-color: #f0ebe5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-right: 3px solid #d6ccc2;
    overflow-y: auto;
}

.chats-sidebar h5 {
    margin-bottom: 15px;
    font-weight: 600;
}

.chats-sidebar .form-control {
    border-radius: 10px;
    border: 1px solid #c8b6a6;
    margin-bottom: 20px;
}

.chat-item {
    background-color: #d0b8ac;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    padding: 10px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.chat-item:hover {
    background-color: #e9d0c3;
}

.chat-item img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.chat-window {
    flex: 1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid #d6ccc2;
}

.chat-box {
    text-align: center;
    color: #6c757d;
    font-style: italic;
}


/* TENANT-FAVORITES PAGE  */
.property-card {
    border: 2px solid var(--border-alt-color);
    border-radius: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

.property-card img {
    height: 200px;
    object-fit: cover;
}

.features {
    font-size: 14px;
    margin: 10px 0;
}

.features li {
    margin-right: 12px;
}

.book-now {
    background: #008000b2;
    color: #fff;
    padding: 6px 12px;
    border-radius: 12px;
}

.btn-remove {
    background: #ff0000c5;
    color: #fff;
    padding: 6px 12px;
    border-radius: 12px;
}
