@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
*{
  margin:0;
  padding: 0;
  font-family: "Inknut Antiqua", serif;
  box-sizing: border-box;
}

:root{
  --body-color: #f0ebe3;
  --sidebar-color: #ffffff;
  --primary-color: #F0EBE3;
  --toggle-color: #000000;
  --text-color: #707070;

  --tra-02: all 0.2s ease;
  --tra-04: all 0.3s ease;
  --tra-04: all 0.4s ease;
  --tra-05: all 0.5s ease;
}

body{
  height: 100vh;
  background: var(--body-color);
}

.sidebar .text{
  font-size: 16px;
  font-weight: 500;

}

.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
}

/* -----sidebar------ */

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
}

.sidebar li{
  height: 50px;
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon{
  display: flex;
  align-items: center; 
  justify-content: center;
  min-width: 60px;
  font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
  color: var(--text-color);
  transition: var(--tra-02);
} 

.sidebar header{
  position: relative;
  
}

.sidebar .image-text img{
  width: 40px;
  border-radius: 6px;
}
.sidebar header .image-text{
  display: flex;
  align-items: center;

}

.header .image-text .header-text{
  display: flex;
  flex-direction: column;
}

.header-text .name{
  font-weight: 600;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--toggle-color);
  font-size: 22px;
}

.sidebar li a{
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 6px;
  transition: var(--tra-04);
}

.sidebar li a:hover{
  background: var(--primary-color);
}

.sidebar .menu-bar{
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}